<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HojaMantenimieno</title>
  <link rel="shortcut icon" href="/img/strava.svg">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/hojaAs.css">
  <script src="/js/dahstec.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">DashTec</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Mantenimiento</a>
      </li>
    </ul>
  
  <div>
    <a href="/indexTec"><span class="bi bi-box-arrow-right"></span><span></span></a>
  </div>
  </div>


</nav>

<!--BITACORA-->


<div class="content">

        <section class="form_wrap">
          <% if (tarea) { %>
            <section class="cantact_info">
                <section class="info_title">
                    <span class="bi bi-person-video3"></span>
                    <h2>Tecnico<br><%= tarea.nombres %></h2><br>
                    <h2><%= tarea.apellidos %> </h2>
                </section>
                <section class="info_items">
                    <p><span class="bi bi-geo-alt"></span> <%= tarea.nombre_lugar %> <br> Sector:  <%= tarea.nombre_sector %> </p>
                </section>
            </section>
    
            <form action="/addBitacora" method="POST" class="form_contact">
                <h2>Bitacorá de Mantenimiento Ascensor:</h2>
                <div class="user_info">

                    <!--FECHAS DEL REPORTE-->
                    <div class="row">
                        <div class="col">
                            <label for="names">Fecha:</label>
                            <input type="text" id="names" placeholder="<%= tarea.fecha_asignacion %>" readonly>
                        </div>
                      </div>
                      <!--DESCRIPCIÓN DEL ASCENSOR-->
                      <h5><b>Descripción del ascensor:</b></h5>
                      <hr>
                      <br>
                      <label for="phone">Descripción Detallada del equipo:</label>
                      <textarea name="" id="" cols="20" rows="10" readonly><%= tarea.descripcion_ascensor %></textarea>
                      
                      <% } %>
                      <!--MANTENIMIENTO PREVENTIVO-->

                      <h5><b>Mantenimiento preventivo:</b> </h5>
                      <hr>
                      <br>
                      <div class="row">
                        <div class="col">
                            <label for="names">Revisión:</label>
                            <textarea id="mensaje" name="mensaje" cols="20" rows="10" ></textarea>
                        </div>
                        
                      </div>

                      <!--MANTENIMINETO CORRECTIVO -->

                      <h5><b>Mantenimiento correctivo: </b></h5>
                      <hr>

                    <label for="email">Observación post  Mantenimiento:</label>
                    <textarea id="postMantenimiento" name="postMantenimiento" cols="20" rows="10" ></textarea>
            
                    <label>Situación del mantenimiento:</label>
                    <select id="situacion" name="situacion" class="form-control">
                      <option value="POSPONER MANTENIMINETO">POSPONER MANTENIMINETO</option>
                        <option value="NO SE PUEDE ARREGLAR">NO SE PUEDE ARREGLAR</option>
                        <option value="ARREGLADO EXITOSAMENTE">ARREGLADO EXITOSAMENTE</option>
                       
                    </select>                    
                    <br>
                    <br>
                    <a href="#"><input type="button" value="Enviar Estado" id="btnSend"></a>
                    
                </div>
            </form>
    
        </section>

      
<!--
<script>
    Swal.fire({
    position: 'top',
    icon: 'success',
    title: 'Se ha enviado exisotasemente su notificación',
    showConfirmButton: false,
    timer: 1700
  })
</script>
-->


</div>

<!--Alertas
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/sweetAlert.js"></script>
-->
</body>
</html>