<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Asignacion Tarea</title>
  <link rel="shortcut icon" href="/img/strava.svg">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="css/task.css">


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  
  <!-- BS Table -->
  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/extensions/export/bootstrap-table-export.min.js"></script>

  <!--iconos de boostrap-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>

<body>

  <div class="container">

    <div class="table-wrappe ">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Administraci贸n de <b>Tareas</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="/index" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> <span></span></a>
            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                class="material-icons">&#xE147;</i> <span>Agregar Nueva Tarea</span></a>
          </div>

        </div>

      </div>
      <table class="table table-striped table-hover" data-pagination="true" data-click-to-select="true"
        data-toolbar="#toolbar" data-show-toggle="true" data-sortable="true" data-toggle="table" data-search="true"
        data-live-search="true">
        <thead>
          <tr>
            <th>
              <label for="Seleccionar Todos"></label>
            </th>
           
            <th>Descripcion</th>
            <th>Fecha de asignaci贸n</th>
            <th>Conjunto</th>
            <th>Sector</th>
            <th>Tecnico Delegado</th>
            <th>Direccion</th>
            <th>Observaciones</th>
            <th>Estado</th>
             <th></th> 
          </tr>
        </thead>
        <tbody>

          <% result.forEach((registros_asig_tareas)=>{ %>
            <tr>
              <!-- <td>--</td> -->
              <td>
                <%= registros_asig_tareas.id_ascensor %>
              </td>
              <td>
                <%= registros_asig_tareas.descripcion_ascensor %>
              </td>
              <td>
                <%= registros_asig_tareas.fecha_asignacion %>
              </td>
              <td>
                <%= registros_asig_tareas.nombre_lugar %>
              </td>
            
              <td>
                <%= registros_asig_tareas.nombre_sector %>
              </td>
              <td>
                <%= registros_asig_tareas.nombres %>
                  <%= registros_asig_tareas.apellidos %>
              </td>
              <td>
                <%= registros_asig_tareas.direccion %>
              </td>
              <td>
                <%= registros_asig_tareas.observacion %>
              </td>
              <td>
                <% if (registros_asig_tareas.nombre_estado=='En espera' ) { %>

                  <span class="badge badge-danger">En espera</span>

                  <% } %>

                    <% if (registros_asig_tareas.nombre_estado=='En curso' ) { %>

                      <span class="badge badge-primary">En curso</span>

                      <% } %>

                        <% if (registros_asig_tareas.nombre_estado=='Finalizado' ) { %>

                          <span class="badge badge-success">Finalizado</span>

                          <% } %>

              </td>
              <td>
                <a type="button" class="btnEditar bi bi-pencil-square"></a>
                <a type="button" class="btnDelete bi bi-trash3"></a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </div>
    
  </div>
    <!--  Modal- Inserccion de datos -->
    <div id="addEmployeeModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="/addTarea" method="POST">
            <div class="modal-header">
              <h4 class="modal-title">Agregar Nueva tarea</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Descripcion</label>
                <textarea id="falla" name="falla" class="form-control" placeholder="Agregue una descrpcion"></textarea>
              </div>
              <div class="form-group">
                <label>Ubicaci贸n</label>
                <input id="conjunto" name="conjunto" type="text" class="form-control"
                  placeholder="Conjunto residencial">

                <label>Sector</label>
                <select id="sector" name="sector" class="form-control">
                  <option value="Norte">Norte</option>
                  <option value="Sur">Sur</option>
                  <option value="Centro">Centro</option>
                  <option value="Este">Este</option>
                  <option value="Oeste">Oeste</option>
                </select>

                  <label>Tecnico Delegado</label>
                  <select id="tecnico" name="tecnico" class="form-control">

                    <% tecnicos.forEach((tecnico)=>{ %>

                      <option>
                        <%= tecnico.id_persona %> :
                        <%= tecnico.nombres %>
                          <%= tecnico.apellidos %>
                      </option>

                      <% }) %>

                  </select>
                

            
                  <label>Obseraciones</label>
                  <textarea id="observaciones" name="observaciones" class="form-control"
                    placeholder="Obseraciones que considere necesarias"></textarea>
                  <label>Estado</label>
                  <select id="estado" name="estado" name="Tipo " class="form-control">
                    <option value="En espera">En espera</option>
                    <option value="En curso">En curso</option>
                    <option value="Finalizado">Finalizado</option>
                  </select>
                
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                <input type="submit" class="btn btn-success" value="Agregar">
              </div>

          </form>
        </div>
      </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editmodal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <h4 class="modal-title">Agregar Nueva tarea</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label>Falla</label>
                <textarea class="form-control" placeholder="Se presenta una falla en el ascesor"></textarea>
              </div>
          
              <div class="form-group">
                <label>Ubicaci贸n</label>
                <input type="text" class="form-control" placeholder="Conjunto residencial tal">




                <div class="form-group">
                  <label>Tecnico Delegado</label>
                  <select name="Tipo " class="form-control">
                    <option value="C01">Seleccione:</option>
                    <option value="C02">Andres</option>
                    <option value="C03">Camilo</option>
                  </select>
                </div>


                <div class="form-group">
                  <label>Obseraciones</label>
                  <textarea class="form-control" placeholder="Obseraciones que considere necesarias"></textarea>
                  <label>Estado</label>
                  <select name="Tipo " class="form-control">
                    <option value="C01">Seleccione:</option>
                    <option value="C02">Por definir</option>
                    <option value="C02">En curso</option>
                    <option value="C02">Finalizado</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                <input type="submit" class="btn btn-success" value="Agregar">
              </div>

          </form>
        </div>
      </div>
    </div>

    <!-- Delete Modal HTML -->
    <div id="deletemodal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form>
            <div class="modal-header">
              <input id="id_eliminar" name="id_eliminar" type="text" hidden><!--id oculto-->
              <h4 class="modal-title">Eliminar</h4>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
            </div>
            <div class="modal-body">
              <p>Esta seguro que desea realizar esta accion?</p>
              <p class="text-warning"><small></small></p>
            </div>
            <div class="modal-footer">
              <input
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
                value="Cancel"
              />
              <input type="submit" class="btn btn-danger" value="Delete" />
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="../js/adminuser.js"></script>
</body>

</html>